<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a routerLink="/**" class="nav-brand">
        <img src="https://www.mailerlite.com/assets/integration/carrd.png" alt="" style="width: 70px;">
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item" style="font-size: 30px;">
                <a class="nav-link" routerLink='/form'>Form <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" style="font-size: 30px;">
                <a class="nav-link" routerLink="/reactive">Reactive</a>
            </li>

            <li class="nav-item" style="font-size: 30px;">
                <a class="nav-link" routerLink="/movies">Movies</a>
            </li>

            <li class="nav-item" style="font-size: 30px;">
                <a class="nav-link" routerLink="/health">Health</a>
            </li>

            <li class="nav-item" style="font-size: 30px;">
                <a class="nav-link" routerLink="/car">Car</a>
            </li>

        </ul>
    </div>
</nav>
