<!-- <p>home works!</p> -->
<div class="row">
    <div class="col-md-3 mt-4 float-left ">
        <div class="card card-body" *ngFor='let new of news'>
            <p>SPORTS</p>
            <img src="{{new.urlToImage}}" alt="" class="card-img-top">
            <h3>{{new.title}}</h3>
            <p>{{new.description}}</p>
            <a href="{{new.url}}" class="btn btn-primary">click here...</a>
    </div>
    </div>

    <div class="col-md-6 mt-4  ">
            <div class="card card-body" *ngFor='let usnew of usnews'>
                
                <img src="{{usnew.urlToImage}}" alt="" class="card-img-top">
                <h3>{{usnew.title}}</h3>
                <p>{{usnew.description}}</p>
                <a href="{{usnew.url}}" class="btn btn-primary">click here...</a>
        </div>
        </div>

    <div class="col-md-3 mt-4 float-right">
        <div class="card card-body" *ngFor='let tnew of technews'>
            <p>TECHNOLOGY</p>
            <img src="{{tnew.urlToImage}}" alt="" class="card-img-top">
            <h3>{{tnew.title}}</h3>
            <p>{{tnew.description}}</p>
            <a href="{{tnew.url}}" class="btn btn-primary">click here...</a>
    </div>
    </div>
</div>