<div class="container mt-5" [hidden]="submitted">
    <div class="col-md-8 offset-md-1">
        <form #taskForm="ngForm" (ngSubmit)="sendTask(taskForm.value)">
            <div class="form-group">
                <input type="text" name="task" class="form-control" [(ngModel)]="model.task" #task="ngModel" placeholder="Add Task...">
            </div>

            <button type="submit" class="btn btn-outline-info float-right" (click)="onSubmit();">Add Task</button>
        </form>
    </div>
</div>

<div class="container mt-5" [hidden]="!submitted">
    <ul class="list-group">
        <li class="list-group-item">
            {{model.task | uppercase}}
            <button type="reset" class="btn btn-danger float-right">Delete</button>
        </li>
        
    </ul>
</div>
