<!-- <p>firebase works!</p> -->
<div class="col-md-4 offset-md-4 mt-4">
    <h3 class="text-center">Add User!!</h3>
    <form #userForm='ngForm' (ngSubmit)='postUser(userForm)'>
        <input type="text" name="name" class="form-control mt-3 mb-3" #name='ngModel' [(ngModel)]=' firebaseservice.selectedUser.name' placeholder="Enter Name..">
        <input type="email" name="email" class="form-control mt-3" #email='ngModel' [(ngModel)]=' firebaseservice.selectedUser.email' placeholder="Enter Email..">
        <input type="tel" name="phno" class="form-control mt-3" #phno='ngModel' [(ngModel)]=' firebaseservice.selectedUser.phno' placeholder="Enter Number..">
        <button type="submit" class="btn btn-outline-success float-right">submit</button>
    </form>
</div>

