<div class="col-md-4 offset-md-4 mt-4 card card-body">
    <form #userForm='ngForm' (ngSubmit)='postUser(userForm)'>
    <div>
                <input type="hidden" name="id" #id='ngModel' [(ngModel)]=' carService.selectedUser.id'>
      </div>
    <div>
        <label>Brand</label><br>
        <input type="text" name="brand"  #brand='ngModel' [(ngModel)]=' carService.selectedUser.brand'  class="form-control">
    </div>
    <div>
        <label for="">Model</label>
        <input type="text" name="model" #model='ngModel' [(ngModel)]=' carService.selectedUser.model'  class="form-control">
    </div>
    <div>
        <label for="">Year of Release</label>
        <input type="date" name="yop"  #yop='ngModel' [(ngModel)]=' carService.selectedUser.yop'  class="form-control">
    </div>
    <div>
        <label for="">Cost</label>
        <input type="number" name="cost"  #cost='ngModel' [(ngModel)]=' carService.selectedUser.cost' class="form-control">
    </div>
    <div>
        <label for="">Number of units sold</label>
        <input type="number" name="num" #num='ngModel' [(ngModel)]=' carService.selectedUser.num'  class="form-control">
    </div><br>
    <div>
        <button type="submit" class="btn btn-outline-success float-right">submit</button>
    </div>
</form>
</div>

