#l1{
    color:grey;
}
#l2{
    margin-left: 111px;
    color:grey;
}
#l3,#l4,#l5,#l7{
    color:grey;
}
#l6{
    margin-left: 145px;
    color:grey;
}
#l8{
    margin-left:75px;
    color:grey;
}
sup{
    color:red;
}
#i1{
    width:23%;
}